[Unit]
Description=Yet Another Brightness Daemon
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=re.bruge.yabd
ExecStart=/usr/bin/python -m yabd

[Install]
WantedBy=graphical-session.target
