
[Unit]
Description=Brightness daemon
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=re.bruge.yabd
ExecStart=/usr/bin/yabd

[Install]
WantedBy=graphical-session.target
